<h1 class="text-3xl">Precios de la app</h1>
<hr class="my-2">
<section>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et ratione voluptas odio, voluptates omnis consequatur
    nulla iste facilis maiores necessitatibus saepe provident est ad voluptatum fugiat cupiditate voluptate quam magni.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam doloribus voluptatibus eius fuga hic dolore
    aspernatur nostrum nesciunt soluta nemo, vitae quas reprehenderit omnis non. Sit suscipit sapiente cupiditate
    dolorum?
  </p>
</section>
